* {
    margin: 0;
    box-sizing: border-box;
}

/***** Balises *****/
body {
    background-color: #F8F8F8;
    color: #191818;
    font-family: "Brandon Grotesque", sans-serif;
    font-weight: 900;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);     
}
main {overflow: hidden; margin-bottom: -1px}
section:not(:first-of-type) {padding-top: 100px;}

/* title*/
h1, h2, h3 {font-weight: 900;}
h1 {color: #F8F8F8; font-size: 24px;}
h2 {color: #191818; font-size: 30px; }
h3 {color: #48A086; font-size: 20px;}
p { 
    font-size: 18px;
    font-weight: 500;
}
li {list-style: none;}
img, svg {vertical-align: middle;}

/***** class commune *****/
.flex {
    display: flex;
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.container {width: 90%; margin: auto;}
.margin-bottom{margin-bottom: 40px;}
.text-center {text-align: center;}
.title-green {display: block;color: #48A086;}
.title-img {margin-top: 10px;width: 50px;}
.uppercase {text-transform: uppercase;}
.bg-black{background-color: #000;}
.logo {height: 75px;}
.vague {vertical-align: bottom; width: 100%; margin-bottom: -1px;}
.order {order: 0;}
.title-line {
    height: 10px;
    background-color: #000;
    width: 40px;
    margin-top: 10px;
}

/* btn */
.btn {
    background-color: #48A086;
    padding: 14px 0;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
    transition: 0.3s linear;
    font-size: 16px;
    font-weight: 500;
    justify-content: center;
    gap: 15px;
    width: 80%;
    margin: auto;
}
.secondary {background-color: #000;}

/* btn hover */
.btn:hover {background-color: #F8F8F8;}
.primary:hover {color: #48A086;}
.secondary:hover { color: #000;}

/***** Header *****/
.bandeau span {
    height: 8px;
    width: 50%;
}

.bandeau span:first-of-type {background-color: #48A086;}

/**** call-to-action ****/
.call-to-action {
    position: relative;
    align-items: center;
}

/*** call-to-action_img ***/
.call-to-action_img{
    height: 40%;
    width: 100%;
    text-align: right;
    padding-top: 4%;
    transform: translateX(100%);
    animation: both animX 0.6s ease-in-out;  
}
.call-to-action_img img {
    object-fit: contain;
    height: 150px;
}

.call-to-action_text .title-img {
    animation: both rotate 1s ease-in-out;
    animation-delay: 0.8s;
}
.rotate {
    animation: both rotate 1s ease-in-out;
}
@keyframes rotate {
    0% {transform: rotate(0deg) scale(1);}
    17% {transform: scale(1.3);}
    33% {transform: rotate(10deg);}
    66% {transform: rotate(-10deg);}
    100% {transform: rotate(0deg) scale(1);}
}

@keyframes animX {
    0% {transform: translateX(100%);}
    100% {transform: translateX(0%);}
}

/*** call-to-action_text ***/
.call-to-action_text {
    justify-content: space-between;
    width: 100%;
    padding: 5% 0 8%;
}
/** call-to-action_btn **/
.call-to-action_btn {
    gap: 15px;
    justify-content: space-between;
    width: 100%;
    padding-top: 5%;
}
.call-to-action_btn .secondary {border: 1px solid #fff;}

/** call-to-action_bg **/
.call-to-action_bg {
    position: absolute;
    height: 100%;
    width: 97.5%;
    right: 0;
    z-index: -1;
    border-bottom-left-radius: 32px;border-top-left-radius: 32px;
}
/* meilleure-enseigne_wrapper */
.meilleure-enseigne_wrapper {
    position: relative;
    margin-top: 10px;
    transition: 1s ease-in-out;
    align-items: center;
    /*height: 10vh;*/
}

.meilleure-enseigne.mobile {display: none; height: 100px;}
.meilleure-enseigne.desktop {
    background-color: #F8F8F8;
    border-radius: 15px;
    width: 280px;
    height: auto;
}
.meilleure-enseigne_wrapper p {
    width: 90%; 
    margin: auto;
    font-size: 12px;
    font-weight: 900;
    padding: 15px 0;
}
.meilleure-enseigne_wrapper .arrow {
    animation: infinite meilleure-enseigne_wrapper-arrow 1.5s linear;
    margin-bottom: 25px;
}

@keyframes meilleure-enseigne_wrapper-arrow {
    0% {transform: translateY(0);}
    50% {transform: translateY(10px);}
    100% {transform: translateY(0);}
}

/***** Nos avantages *****/
.avantages-content{gap: 75px;}
.avantages-content .flex-column {gap: 30px; justify-content: space-between;}
.avantages-img,.avantages-img img, .avantages-text{width: 100%;}
.avantages-img {
    border-radius: 25px;
    border: 6px solid #000;
    overflow: hidden;
}
.avantages-img img {
    height: 100%;
    object-fit: cover;
}
.avantages-text span {font-weight: 900;}
.avantages-text p {padding-bottom: 10px;}

/*** Parcours ***/
.parcours {
    display: none;
    position: relative;
    text-align: center;
    margin: 1px 0;
}
.parcours-1, .parcours-2 {
    width: 60%;
    height: auto;
    margin: auto;
}
.parcours-2 {margin-right: 100px;}
[class^="cache"] {
    height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #F8F8F8;
    width: 100%;
    margin-right: 200px;
    z-index: 1;
}
/* Animation Parcours */
.cache1.anim-x-right {
    transform: translate(50%, -50%);
    transition: 1.5s linear;
}
.cache2.anim-x-left {
    transform: translate(-151%, -50%);
    transition: 1.5s linear;
}

/***** Compatible avec toutes les assurances *****/
.compatible-content{
    background-color: #48A086;
    gap: 30px;
    margin-top: -1px;
    padding-top: 40px;
}
.compatible-content h2{color: #F8F8F8;}
.compatible-content h2 .block { display: block;}
.compatible-content h2 .title-green{
    background-color: #F8F8F8;
    display: inline-block;
    padding: 0 6px;
    border-radius: 6px;
}
.compatible-content .title-line {
    background-color: #F8F8F8;  
    margin: 20px auto 0;
}
.compatible-text p {
    color: #F8F8F8;
    margin: auto;
    width: 90%;
}
.compatible-content .btn{margin: 0 auto 40px;}

/***** 40 000 avis positifs, voici quelqies témoignages *****/
.temoignages h2 span {font-size: 24px;}
.temoignages {
    width: 90%;
    margin: auto;
}
.carousel {
    position: relative;
}
.swiper-container {
    overflow: hidden;
    padding: 10px;
}
.swiper-backface-hidden .swiper-slide {
    height: auto;
    background: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin: initial;
    justify-content: flex-start;
    box-shadow: 0px 3px 10px #00000029;
}

/*** Card ***/
.card-logo {
    border-radius: 50%;
    height: 68px;
    width: 68px;
    overflow: hidden;
    position: relative;
}
.card-logo img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
/*** User ***/
.user.flex {padding: 40px 20px 20px;}
.user-temoignagne {padding: 20px 20px 40px;}
.user.flex {
    align-items: flex-start;
    width: 100%;
    gap: 5%;
}
.user-photo {height: 100px;}
.user-description p:first-of-type {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
}
.user-description p:last-of-type {font-size: 16px;}

.note {
    display: flex;
    gap: 5px;
    margin: 5px 0;   
}
.note img {height: 20px;}
.note img:last-of-type {padding-left: 5px;}
.user-temoignagne {border-top: 1px solid #e3e3e3;}

/*** fleche de navigation ***/
.carousel .swiper-button-prev, .carousel .swiper-button-next {
    height: 36px;
    width: 36px;
    background-color: #F8F8F8;
    border-radius: 50%; 
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 0;   
}

.carousel .swiper-button-prev {
    left: 0;
    transform: translate(-40%, -50%);
}

.carousel .swiper-button-next {
    left: 100%;
    transform: translate(-60%, -50%);
}

.carousel .swiper-button-prev::after,.carousel .swiper-button-next::after {
    color: #18382e;
    font-size: 16px;
    font-weight: 600;
}




/***** Trouver mon centre *****/
.centre-content, .centre-content form {gap: 40px;align-items: center;}
.centre-content { padding: 100px 0;}
.centre-content h2{
    color: #F8F8F8;
    font-size: 24px;
    width: 90%;
    margin: auto;
}
.centre-content h2:last-of-type {font-size: 18px;}

/* centre-content form */
.centre-content form {
    justify-content: center;
    gap: 40px;
    width: 100%;
}
.centre-content form input {
    font-size: 16px;
    border-radius: 50px;
    outline: none;
    border: none;
    padding: 16px;
    width: 80%;
    font-weight: 500;
    text-align: center;
    color: #000;
}
.centre-content form input::placeholder {color: #bdbdbd;}
.centre-content form .submit {
    background-color: #48A086;
    color: #F8F8F8;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.centre-content form .submit:hover { box-shadow: inset 0px 0px 10px 0px #18382e;}
.recherche-centre p:last-of-type {font-size: 18px; margin-left: auto;}

/***** Il vous reste des questions *****/
.accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
}

.accordion-item {
    color: #111;
    margin: 1rem 0;
    border-bottom: 1px solid #bdbdbd;
} 
.accordion-item:last-of-type {border-bottom: none;}
.accordion-item-title {
    color: #191818;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    position: relative;
    cursor: pointer;
    padding-bottom: 20px;
    font-size: 20px;
}
.accordion-item-title img {transition: 0.2s ease-out;}
.accordion-item-title.active img {transform: rotate(-180deg);}
.accordion-item-text {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 90%;
}
.accordion p {font-weight: 400;}
.accordion-item-title, .accordion-item p {
    padding-bottom: 20px;
}

/***** Une entreprise Française *****/
.entreprise-content {padding: 0 5%;}
.entreprise-content, .entreprise-text {gap: 30px;}
.entreprise-text, .entreprise-title h2 {color: #F8F8F8;}
.entreprise-img {overflow: hidden; border-radius: 25px;}
.entreprise-img img {
    height: 100%;   
    width: 100%;
    object-fit: cover;
}
.entreprise-text p {line-height: 150%;}
.entreprise-title h2 span {font-size: 26px;}

/***** footer *****/
footer{padding: 100px 0;}


/*************************************/
/********** @media queries **********/

@media screen and (min-width: 375px) {
    h1 {font-size: 28px;}
    h2 {font-size: 32px;}
    h3 { font-size: 22px;}
    p {font-size: 20px;}

    /***** Call -o action *****/
   .call-to-action_img img {height: 220px;}

   /***** meilleure-enseigne_wrapper *****/
   .meilleure-enseigne_wrapper p {font-size: 14px;}

    /***** Compatible avec toutes les assurances *****/
    .compatible-text p {font-size: 24px;}

   /***** 40 000 avis positifs, voici quelqies témoignages *****/
    .temoignages h2 span {font-size: 26px;}

    /***** Une entreprise Française *****/
    .entreprise-title h2 span { font-size: 32px;}
}

@media screen and (min-width: 425px) {  
    h1 {font-size: 30px;} 
    .btn { width: 220px;}
    .margin-bottom {margin-bottom: 40px;}

    /***** Autolplus *****/
    .meilleure-enseigne_wrapper p {font-size: 14px;}

   /***** Compatible avec toutes les assurances *****/
    .compatible-content h2 div { display: block;}

     /***** Trouver mon centre *****/
     .centre-content form input {width: 60%;}
}

@media screen and (min-width: 568px) {
    h1 {font-size: 4vw;}
    h2{ font-size: 42px;}
    h3 {font-size: 20px;}

    .parcours {display: block;}
    .title {margin-bottom: 80px;}
   
    /***** Call -o action *****/
    .call-to-action {flex-direction: initial;}
    .call-to-action_img, .call-to-action_text {height: 100%; width: 50%;}
    .call-to-action_img {padding: 0;}
    .call-to-action .title-img {width: 4vw;}
    .call-to-action_text {
        order: -1;
        text-align: left;
        padding: 5% 0 5% 5%;
    }       
    .call-to-action_bg {width: 97.5%;}
    .call-to-action_img img {
        object-fit: cover;
        height: inherit;
        width: 100%;
    }
    .call-to-action_btn {justify-content: left;}
    .call-to-action_btn .btn {margin: 0;}

    /***** meilleure-enseigne_wrapper *****/
    .meilleure-enseigne_wrapper .arrow {order: 1;}

    /***** Nos avantages *****/
    .avantages-content {gap: 0;}
    .avantages-content .flex-column{
        flex-direction: initial;
        align-items: stretch;     
    }
    .avantages-img {width: 35%;}
    .avantages-text {width: 60%; text-align: left;}
    .avantages-text .title-line {margin: 10px auto 0 0;}
    .order {order: -1;}

    /***** Trouver mon centre *****/
    .centre-content form {flex-direction: initial;}
    .centre-content form input:first-of-type {text-align: left; width: 50%;}
    .centre-content form .submit { width: 180px;}

    /***** Il vous reste des questions *****/
    .accordion-item-title {font-size: 24px;}
    .accordion-item-title img { margin-right: 20px;}

    /***** Une entreprise Française *****/
    .entreprise-content {
        flex-direction: initial;
        gap: 5%;
        justify-content: center;
        }
    .entreprise-text {width: 50%;}
    .entreprise-img {
        width: 40%;
        object-fit: cover;
        height: 100%;
    }
    .entreprise-content .btn {margin: 0 auto 0 0;}
    .entreprise-title h2 { font-size: 34px;}
    .entreprise-title h2 span { font-size: 28px;}
}

@media screen and (min-width: 768px) {
    h2 {font-size: 50px;}
    h3, .accordion-item-title {font-size: 28px;}
    p {font-size: 24px;}
    /***** Call -o action *****/
    .call-to-action_btn {flex-direction: initial;}

    /***** Nos avantages *****/
    .avantages-content .flex-column {align-items: center;}

    /***** Compatible avec toutes les assurances *****/
    .compatible-text p {font-size: 28px;}

    /***** 40 000 avis positifs, voici quelqies témoignages *****/
    .temoignages h2 span {font-size: 32px;}
    
    /***** Trouver mon centre *****/
    .centre-content form input:first-of-type {text-align: left; width: 40%;}
    .centre-content form .submit {width: 200px;}

    /***** Il vous reste des questions *****/
    .accordion-item-text {width: 80%;}

    /***** Une entreprise Française *****/
    .entreprise-title h2 { font-size: 40px;}
    .entreprise-title h2 span { font-size: 32px;}
}

@media screen and (min-width: 1024px) {
    h2 {font-size: 56px;}
    .container {width: 80%;}
    .title-line {height: 14px; width: 60px;}

    /***** Call to action *****/
    .call-to-action_text {
        padding: 4% 0 4% 5%;
    }
    .call-to-action_img img {
        width: 95%;
    }

    /***** meilleure-enseigne_wrapper *****/
    .meilleure-enseigne_wrapper p {font-size: 16px;}

    /***** Compatible avec toutes les assurances *****/
    .compatible-text p {font-size: 32px;}

    /***** Trouver mon centre *****/
    .centre-content form input:first-of-type {text-align: left; width: 40%;}

    /***** Il vous reste des questions *****/
    h3, .accordion-item-title {font-size: 34px; }

    /***** Une entreprise Française *****/
    .entreprise-title h2 span { font-size: 40px;}
    .entreprise-text p {width: 80%;}
}

@media screen and (min-width: 1280px) {
    header .logo {height: 90px;}
    footer .logo {height: 70px;}
    p {font-size: 28px;}
    h2 {font-size: 60px;}
    h3, .accordion-item-title {font-size: 42px;}
    .title {margin-bottom: 100px;}
    .title-line {width: 70px;}

    /***** meilleure-enseigne_wrapper *****/ 
    .meilleure-enseigne_wrapper {margin-top: 0;}
    .meilleure-enseigne  {
        position: absolute;
        top: 0;
        transform: translate(0%, -50%);
    }
    .meilleure-enseigne.desktop {
        background-color: #F8F8F8;
        border-radius: 15px;
        padding: 25px;
        width: 20vw;
        height: auto;
    }
    .meilleure-enseigne_wrapper p {
        font-size: 18px;
        padding: 55px 0 15px;
    }

    /***** 40 000 avis positifs, voici quelqies témoignages *****/
    .temoignages h2 span {font-size: 40px;}
    .user-description p:first-of-type {font-size: 26px;}
    .carousel .swiper-button-prev, .carousel .swiper-button-next {
        height: 40px;
        width: 40px;
    }
    /***** Nos avantages *****/
    .avantages-img {
        border: 8px solid #000;
    }
    
    /***** Trouver mon centre *****/
    .centre-content, .centre-content form {gap: 30px;}
    .centre-content {
        flex-direction: initial;
        justify-content: center;
        padding: 125px 0;
    }
    .centre-content form {width: inherit;}
    .centre-content h2:first-of-type, .centre-content h2:last-of-type  {width: max-content; margin: 0;}
    .centre-content h2:last-of-type {text-align: end; margin-left: 75px;}
    .centre-content h2:last-of-type span  {display: block;}
    .centre-content form input:first-of-type { width: 400px;}

    /***** Une entreprise Française *****/
    .entreprise-title h2 span { font-size: 48px;}
    
}

@media screen and (min-width: 1440px) {
    h2 {font-size: 70px;}
    p {font-size: 28px;}
    .btn {font-size: 18px;}
    .title-img {width: 60px;}
    
    /***** Autolplus *****/
    .meilleure-enseigne_wrapper p {font-size: 20px;}

    /***** Nos avantages *****/
    .avantages-img {width: 30%;}

    /***** Compatible avec toutes les assurances *****/
    .compatible-content {padding-top: 0;}
    .compatible-text p {font-size: 36px;}

    /***** 40 000 avis positifs, voici quelqies témoignages *****/
    .temoignages h2 span {font-size: 42px;}

    /***** Trouver mon centre *****/
    .centre-content form input {width: 400px;} 
    .centre-content h2:first-of-type {font-size: 32px;}
    .centre-content h2:last-of-type {font-size: 22px;}

    /***** Une entreprise Française *****/
    .entreprise-title h2 {font-size: 60px;}
    .entreprise-title h2 span { font-size: 60px;}
    .entreprise-img {width: 35%;}
}

@media screen and (min-width: 1600px) {  
    h2 {font-size: 78px;}
    h3 {font-size: 46px;}
    p {font-size: 30px;}
    .btn {font-size: 22px; width: 240px;}
    header .logo {height: 120px;}

    /***** meilleure-enseigne_wrapper *****/
    .meilleure-enseigne {height: 100px;}
    .meilleure-enseigne_wrapper p {padding-top: 7vh;}

    /***** Nos avantages *****/
    .container {width: 70%;}
    .avantages-content .flex-column { gap: 80px;}
    .avantages-text {width: 60%;}

    /***** Compatible avec toutes les assurances *****/
    .compatible-text p {font-size: 42px;}
  
    /***** 40 000 avis positifs, voici quelqies témoignages *****/
    .temoignages h2 span {font-size: 52px;}
    .user.flex {padding: 40px 40px 20px;}
    .user-temoignagne {padding: 20px 40px 40px;}

    /***** Une entreprise Française *****/
    .entreprise-text {width: 45%;}
    .entreprise-text p {width: 80%; line-height: 200%;}

    footer .logo {height: 100px;}
}

@media screen and (min-width: 1920px) {
    header .logo {height: 125px;}   
    .call-to-action_img img {width: 95%;}
    .container {width: 60%;}
    footer .logo {height: 110px;}
    .call-to-action_btn {width: 65%;}
    .btn {width: 45%;}
}
